body {
	font-size: 100%;
}

header {
	position: fixed;
	width: 100%;
	font-family: myThirdFont;
	display: inline-block;
	background-color: #D3D3D3;
	top: 0px;
	text-transform: uppercase;
}

ul {
	float: left;
	padding-left: 8px;
}

.social-icons {
	width: 25px;
	height: 25px;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 12px;
}

#social-icons {
	display: inline-block;
	float: right;
	padding-right: 8px;
}

li {
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px; 
}

#home {
	cursor: pointer;
}

#travel {
	cursor: pointer;
}

#photography {
	cursor: pointer;
}

#lifestyle {
	cursor: pointer;
}

#portfolio {
	cursor: pointer;
}

#aboutme {
	cursor: pointer;
}

h1 {
	font-family: myThirdFont;
	font-size: 5em;
	text-align: center;
	margin-top: 100px;
}


footer {
	bottom: 16px;
	color: grey;
	margin: auto;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

@font-face {
	font-family: myFirstFont;
    src: url(../fonts/lemonmilk.otf);
}

@font-face {
	font-family: mySecondFont;
    src: url(../fonts/greatvibes-regular.ttf);
}

@font-face {
	font-family: myThirdFont;
	src: url(../fonts/toxtypewriter.ttf);
}