header {
	width: 100%;
}

.insta-box {
	text-align: center;
	margin: auto;
	width: 80%;
	border: 2px solid black;
}

.social-icons {
	width: 32px;
	height: 32px;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	float: right;
}